<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2 style="color:#26a69a;">Detalhes da Pessoa</h2>
	
	<div th:each="p : ${pessoaobj}">
		<div class="row">
			<p> ID: <span th:text="${p.id}"></span></p>
			<p> Nome: <span th:text="${p.nome}"></span></p>
			<p> Sobrenome: <span th:text="${p.sobrenome}"></span></p>
			<p> Idade: <span th:text="${p.idade}"></span></p>
			
			<a href="/cadastropessoa">
				<button class="btn waves-effect waves-light" type="button">
					<span>Voltar</span> <i class="material-icons" style="color:white;">arrow_back</i>
				</button>
			</a>
		</div>
		
		<div>
			<br/>
			<h5 style="color:#26a69a">Cadastrar Telefones</h5>
			<br/>	
		</div>
		
		<div class="row">
			<form th:action="@{/salvartelefonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" class="col s12" th:object="${telefone}">
				<div class="row">
					<div class="input-field col s4">
						<label class="active" for="id">Id:</label>
						<input id="id" type="text" name="id" class="validate" th:field="*{id}" readonly="readonly">
					</div>
					<div class="input-field col s4">
						<label class="active" for="numero">Número:</label>
						<input id="numero" type="text" name="numero" class="validate" th:field="*{numero}">
					</div>
					<div class="input-field col s4">
						<label class="active" for="tipo">Tipo:</label>
						<input id="tipo" type="text" name="tipo" class="validate" th:field="*{tipo}">
					</div>					
				</div>
				<div class="row">
					<div class="input-field col s12">
						<button class="btn waves-effect waves-light" type="submit">
							Cadastrar <i class="material-icons right">send</i>
						</button>
					</div>
				</div>
			</form>
			<table class="striped centered">
				<thead>
					<tr>
						<th>Número</th>
						<th>Celular</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="telefone : ${telefones}">
						<td th:text="${telefone.id}"></td>
						<td th:text="${telefone.numero}"></td>
						<td th:text="${telefone.tipo}"></td>
						<td><a th:href="@{/editarTelefonePessoa/{telefoneid}(telefoneid=${telefone.id})}"><i class="material-icons">edit</i></a></td>
						<td><a th:href="@{/deletarTelefonePessoa/{telefoneid}(telefoneid=${telefone.id})}"><i class="material-icons" style="color: red;">delete</i></a></td>
					</tr>		
				</tbody>
			</table>
		</div>
	</div>
	
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>